body{
    background-color: #2178bb;
    box-sizing: border-box;
    margin:0;
}

/**************ESTILIZANDO EL HEADER************/

/*fORMATOS DEL HEADER EN GENERAL*/
header{
    background-color: #1c669f;
}

header > * {
    display:inline-block;
    position: relative;
}

/*FORMATOS DE LA PARTE DE TABLEROS*/
.format-tableros{
    width:8%;
    background-color:#3487b8;
    font-size: 18px;
    color:white;
    padding:0.5%;
    text-align: center;
    border-radius: 5%;
    text-decoration: none;
    left:1em;
    font-family: Helvetiva Neue-Bold;

}
/*FORMATOS DEL FORMULARIO*/

header > form > input{
    width: 85%;
    left:5em;
    background-color: #3487b8;
    height: 10%;
    border:none;

}
.format-form{
    top:0;
    position:relative;
    padding:0.5em;
    left:1em;
    width:15%;
    border-radius: 3%;
    background-color: #3487b8;
    margin-left:0.5em;
}
.fa-search {
    color:white;
}
input::placeholder{
    color:white;
}

/*FORMATOS DE LOGO Y TITULO DE TRELLO*/
.format-logo{
    width:35%;
    margin: 1%;
    opacity: 0.5;
   /* padding-left: 2em;*/
}
.format-aling-image{
    position: absolute;
    left: 36em;
    width:20%;
}

/*FORMATOS DE LA NAVEGACION*/

header > nav{
    align-content: right;
    width: 20%;
    left:45em;
    bottom:0.1em;
}
.format-Icon{
    color: white;
    font-size: 1em;
    background-color:#3487b8;
    margin: 2%;
    padding: 0.5em;
    border-radius: 10%;
    top:0;
    right: 0%;

}

/*FORMATOS GENERALES*/

.navegation:hover{
    opacity: 0.5;
}

/**********ESTILIZANDO EL MAIN********/

#espacio-trabajo{
    position:relative;
    width:100%;
}
/* SEGUNDA BARRA DE NAVEGACION*/
main > section > nav {
    position:relative;
    display:inline-block;
    width:40%;
    left:0;
    margin:1%;
    }

main > section > nav > a {
    text-decoration: none;
    color:white;
    padding:0.5em;
}

.click:hover{
    background-color: #006caa;
    border-radius: 5%;
    font-weight:bolder;
}

main > section > nav > a > i{
    padding:0.3em;
    }

.formt-border{
    border-left:1px solid white;
    opacity: 0.3;
}

.format-Nombre-tablero{
    font-weight: bold;
    font-family: Helvetiva Neue-Bold Italic;
    font-size:18px;
}

/*FORMATOS PARA LA ETAPA DE AÑADIR LISTA*/

.formato-crear-lista {
    display:inline-block;
    background-color:#005485;
    width:20%;
    height: 6vh;
    border-radius: 5%;
    color: white;
    margin: 2%;
    padding-left:0.5em;
    padding-top:0.5em;
    opacity: 0.5;
    font-family: cursive;
    text-decoration:none;
}

/*FORMATOS PARA EL FORMULARIO:INPUT Y BOTON DE GUARDAR */
.formato-container{
    position:relative;
   /* display:inline-block;*/
    background-color: #e2e4e6;
    width:20%;
    height: 15vh;
    border-radius:3%;
    margin:2%;
    float:left;

}
.formato-input{
    display: block;
    background:rgba(0,0,0,0.1);
    border-color:#1111;
    width:85%;
    height: 5vh;
    outline: none;
    border:none;
    margin-left: 0.8em;
    margin-top:0.6em;
    border-radius: 5%;
    border:1px solid rgba(0,0,0,0.3);
    font-family:cursive;
    font-size:14px;
    color: rgba(0,0,0,0.3);
    padding-left: 0.8em;
    
}
.formato-input::placeholder{
    color:black;
    opacity: 0.7;
}

.formato-boton{
    /*position:absolute;*/
    display:inline-block;
    background-color: #519839;
    color:white;
    padding:0.5em;
    font-size:14px;
    text-decoration:none;
    width:30%;
    margin-left:1em;
    border-radius: 2%;
    outline: none;
    height: auto;
}
.format-button-close{
    background-color: none;
    left:3.5em;
    font-size:220%;
    background-color: #e2e4e6;
    border:none;
    width: 15%;
}

/* FORMATOS PARA LA PARTE DONDE APARECE EL TITULO ALMACENADO Y EL LINK AGREGAR UNA TARJETA*/

.formato-ContainerTitle{
    background-color: #e2e4e6;
    width:20%;
    height: 12vh;
    border-radius:3%;
    margin:2%;
    height: auto;
    overflow: auto;
}
.formato-newLink-tarjeta{
    display:inline-block;
    font-style: italic;
    color: rgba(0,0,0,0.8);
    text-decoration: none;
    width:100%;
    height: 6vh;
}

.format-title{
    margin-left: 0.5em;
    word-wrap: break-word;
}

.formato-newLink-tarjeta:hover{
    background-color: #cdd2d4;
}

/*FORMATOS PARA EL NUEVO FORMULARIO QUE CONTIENE EL TEXT AREA Y EL BOTON AÑADIR*/

.formato-newContainer-textArea{
    display:inline-block;
    height: auto;
    word-wrap: break-word;
    background-color: #cce1f7;
    width:20%;
    border-radius:3%;
    margin:2%;
}
.format-textarea{
    margin-left: 2%;
}

.boton-añadir{
    display: inline-block;
    margin-bottom:1em;
}
.close2{
    left:45%;
    top:10%;
    background-color: #cce1f7;
}

/* FORMATOS PARA COLOCAR LOS DATOS GUARDADOS DE TITLE Y TEXTAREA*/

.format-containerForFinishForm{ 
    display:inline-block;
    background-color: #e2e4e6;
    width:20%;
    height:auto;
    border-radius:3%;
    margin:2%;
    overflow: auto;
}

.formatdivTextArea{
    max-width:90%;
    background-color: white;
    border-radius: 5%;
    margin:5%;
    font-family: arial;
    height: auto;
    word-wrap: break-word;
}

